<html>
<head>
  <meta charset="utf-8"/>
  <title>Feed</title>
  <link rel="stylesheet" href="/assets/style.css"/>
</head>
<header>
  <h1>NotTwitter</h1>
</header>
<body>

<nav>
  <a href="/app">Home</a>
  <a href="/logout">Logout</a>
</nav>

<section id="app"></section>

<div id="appMessage" class="hidden">
  <span id="errorMessage"></span>
</div>

<script src="/assets/appBundle.js"></script>
</body>
</html>